##############################################################################
# General
##############################################################################

# OS junk files
[Tt]humbs.db
*.DS_Store

# Visual Studio / MonoDevelop
*.[Oo]bj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.mdb
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.lib
*.sbr
*.sdf
*.opensdf
*.resources
*.res
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
*.gpState
.vscode/
*.exp
.vs/

# Tooling
_ReSharper*/
*.resharper
.idea/*
[Tt]est[Rr]esult*
*.orig
*.rej

# NuGet packages
!.nuget/*
[Pp]ackages/*
![Pp]ackages/repositories.config

# Temporary Files
~.*
~$*

# CMake
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
config.h
releases

# Left behind by the autotools builds this tree used to have, and by the
# submodules under external/ that still use them.
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.guess
config.log
config.status
configure
libtool
.deps
.libs

*~
*.swp
*.o
*.dylib

# pkg-config
*.pc

# Emacs
semantic.cache

# gtags
GPATH
GRTAGS
GSYMS
GTAGS

# Doxygen
docs/doxygen*
docs/perlmod*

# Python Caches
__pycache__


##############################################################################
# Mono-specific patterns
##############################################################################

.dirstamp
compile
mono.h
mono-*.tar.*
mono_crash*
tmpinst-dir.stamp
extensions-config.h
*.dylib.dSYM
*.mlpd
llvm/build/
llvm/usr/
sdks/builds/llvm-*/
sdks/builds/android-*/
mcs/build/compiler-server.log

##############################################################################
# Arcade output directories
##############################################################################

.packages
artifacts
.dotnet

##############################################################################
# Unity specific
##############################################################################
/builds/
/tmp/
external/buildscripts/build.gen.*

# clangd compilation database (configure --enable-compile-commands)
/compile_commands.json
/bear-citnames.json
/bearcc
/bearcxx
/.bear-events/
